<a href="https://colab.research.google.com/github/tihanieddey/Python-Exercises/blob/main/Python105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This exercise is to test your knowledge in

1.   Functions
2.   Functional Programming
3.   Decorators

**Problem 1**

Write a python function that takes a number as parameter and prints the multiplication table of that number

**Problem 2**

Write a simple python function that returns twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

Pairs of primes that differ by 2. For example, 3 and 5, 5 and 7, 11 and 13, and 17 and 19 are twin primes.

**Problem 3**

Write a simple python function that takes a number as parameter and returns  the prime factors of that number. Prime Factorization is finding which prime numbers multiply together to make the original number.

Example: prime factors of 56 - 2, 2, 2, 7

**Problem 4**

Write a function that inputs a number and returns the product of digits of that number.

**Problem 5**

Write a function that takes a number as parameter. The function finds the proper divisors of that number and then finds the sum of proper divisors. Proper divisors of a number are those numbers by which the number is divisible, except the number itself.

For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

**Problem 6**

A number is called perfect if the sum of proper divisors of that number is equal to the number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to print all the perfect numbers in a given range

**Problem 7**

Write a python function that takes 2 parameters lower and upper (range). Let the function returns pairs of amicable numbers in that range.

Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.

For example if we call that function: amicableNumbers(1, 1000)

The function must return: **[220, 284]**


*Why they are amicable numbers ?*

Sum of proper divisors of **220** = 1+2+4+5+10+11+20+22+44+55+110 = **284**

Sum of proper divisors of **284** = 1+2+4+71+142 = **220**

**Problem 8**

Write a python function that takes variable length parameters and returns maximum and minimum number in the parameter numbers.

For example if we call the function: maximumMinimum(10, 20, 30, 40, 50)

The function must return: **[10, 50]**

**Problem 9**

Write a simple Python function that takes a number(n) as a parameter. Then the function prints out the first n rows of Pascal's triangle. Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.



![pascaltriangle.png]()

**Problem 10**

Write a simple python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Sample Items : green-red-yellow-black-white

Expected Result : black-green-red-white-yellow

**Problem 11**

Flatten a List of Lists
Write a Python program to flatten the given list into a single list using list comprehension.

Given list:
[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

Expected result:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Problem 12:**

Write a simple python function that accepts a sentence and extract all the vowels from the sentence using list comprehension.

Input: "The quick brown fox jumps over the lazy dog"

Expected Result: ['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'a', 'o']

**Problem 13:**

Matrix Transposition

Write a simple python function that accepts a 3x3 matrix and transpose the matrix using list comprehension.

Input:

1, 2, 3

4, 5, 6

7, 8, 9


Expected Result:

Given matrix: [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

Transponsed Matrix: [
    [1, 4, 7],
    [2, 5, 8],
    [3, 6, 9]
]

**Problem 14:**

Find Maximum Number

Write a simple python function that accepts list of numbers and find the maximum number in a list using the reduce function.

Input:
3, 5, 2, 8, 1

Expected Result: 8

**Problem 15:**

Filter Names Starting with a Specific Letter

Write a simple python function that accepts list of names and filter out all names that start with the letter 'A' using the filter function.

Input: "Alice", "Bob", "Anna", "Charlie", "Annie"

Expected: 'Alice', 'Anna', 'Annie'

**Problem 16:**

Square and Filter Odd Numbers

Write a Python program that accepts list of numbers and create a list of squares of odd numbers from a given list of integers using map and filter functions.

Input: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

Expected Result: 1, 9, 25, 49, 81

**Problem 17:**

Fibonacci Sequence

Write a recursive Python function to find the n-th Fibonacci number. The Fibonacci sequence is defined as:

1. F(0) = 0
2. F(1) = 1
3. F(n) = F(n-1) + F(n-2) for n > 1

**Problem 18:**

Write a recursive Python function to check if a given string is a palindrome (reads the same forwards and backwards).

Input: "radar"

Expected Result: True

**Problem 19:**

Compose Functions

Write a Python function *def compose (f, g)* that takes any two functions f and g as parameter, and returns a *new function h* such that h(x) = f(g(x)).

Note: The function f and g are taking single parameter.

**Problem 20**

Implement a decorator called count_calls that keeps track of how many times a function has been called.

*Decorator function*

def count_calls(func):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Your code here

*Function with decorator*

@count_calls<br/>
def greet(name):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;print(f"Hello, {name}!")

greet("Alice")
greet("Bob")

Expected Output:

Function 'greet' was called 2 times.

**Problem 21: Shopping Cart**

Create a function add_to_cart(item, quantity=1, price_per_item=5) that calculates the total cost for adding an item to a shopping cart. If quantity or price_per_item is not specified, assume default values. Return a dictionary with the item name, quantity, price per item, and total cost. For example:

**Input**

add_to_cart("Apple")

**Output**

{"item": "Apple", "quantity": 1, "price_per_item": 5, "total_cost": 5}

**Input**

add_to_cart("Banana", 3, 2)

**Output**

{"item": "Banana", "quantity": 3, "price_per_item": 2, "total_cost": 6}

**Problem 22: Flexible Greeting**

Define a function

*multi_greet(name="Friend", *messages)*

that accepts a name and an arbitrary number of greeting messages. If no messages are provided, greet with "Hello". Test with and without providing additional greetings.

**Problem 23: Personal Information**

Write a function display_info(**kwargs) that accepts any number of named arguments and returns a formatted string with the person's information. For example:

**Input**

display_info(name="Alice", age=25, city="New York")

**Ouput**

"Name: Alice, Age: 25, City: New York"

**Input**

display_info(name="Bob", country="USA")

**Output**

"Name: Bob, Country: USA"

**Problem 24: Build a URL Query**

Define a function build_url(base, **params) that builds a URL from a base and a series of query parameters. For example:

**Input**

build_url("https://example.com", search="python", page=2)

**Output**

https://example.com?search=python&page=2

**Input**

build_url("https://example.com")

**Output**

https://example.com

**Problem 25: Student Grades**

Create a function

calculate_grades(student_name, *scores, **details)

that calculates the average score for a student. The details dictionary may contain additional information like subject="Math", level="Grade 10". For example:

**Input**

calculate_grades("Alice", 90, 85, 88, subject="Math", level="Grade 10")

**Output**

Alice's average in Math (Grade 10): 87.7

**Input**

calculate_grades("Bob", 70, 65, 80)

**Output**
Bob's average: 71.7