<a href="https://colab.research.google.com/github/tihanieddey/Python-Exercises/blob/main/Python109.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the necessary libraries

Download the data from the following URL

https://drive.google.com/file/d/1yqoGqDRvv5xbfgkJKmp5nmquKYrdaLfl/view?usp=sharing

Read and assign it to a variable called chipo.

See the first 10 entries

What is the number of observations in the dataset ?

Answer: 4622

What is the number of columns in the dataset ?

Answer: 5

Print the name of all the columns.

How is the dataset indexed ?

Answer: RangeIndex(start=0, stop=4622, step=1)

Which was the most-ordered item ?

Answer: Chicken Bowl

For the most-ordered item, how many items were ordered ?

761

What was the most ordered item in the choice_description column ?

Answer: [Diet Coke]

How many items were orderd in total ?

Answer: 4972

Turn the item price into a float

How much was the revenue for the period in the dataset ?

Answer: Revenue was: $39237.02

How many orders were made in the period ?

Answer: 1834

What is the average revenue amount per order ?

How many different items are sold ?

Answer: 50

How many products cost more than $10.00 ?

1. clean the item_price column and transform it in a float
2. reassign the column with the cleaned prices
3. delete the duplicates in item_name and quantity
4. select only the products with quantity equals to 1

Answer: 12

What is the price of each item ?

1. delete the duplicates in item_name and quantity
2. select only the products with quantity equals to 1
3. select only the item_name and item_price columns
4. sort the values from the most to less expensive

Sort by the name of the item

What was the quantity of the most expensive item ordered ?

How many times was a Veggie Salad Bowl ordered ?

Answer: 18

How many times did someone order more than one Canned Soda ?

Answer: 20

Create a histogram of the top 5 items bought

Create a scatterplot with the number of items orderered per order price

Create a question and a graph to answer your own question.

Download the data from the following URL

https://drive.google.com/file/d/1IliBBnlvWdyqoNHpKsPWRrwynwlp69Sm/view?usp=sharing

Read and assign it to a variable called users.

Discover what is the mean age per occupation ?

Discover the Male ratio per occupation and sort it from the most to the least

For each occupation, calculate the minimum and maximum ages

For each combination of occupation and gender, calculate the mean age

For each occupation present the percentage of women and men

Download the data from the following URL

https://drive.google.com/file/d/1Nf5qPvISvBubc6e3vpiK7pYn4WOFXzij/view?usp=sharing

Read and assign it to a variable called crimes.

What is the type of the columns ?

Convert the type of the column Year to datetime64

Set the Year column as the index of the dataframe

Delete the Total column

Group the year by decades and sum the values

What is the most dangerous decade to live in the US ?

Create 3 differents Series, each of length 100, as follows:

1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

Let's create a DataFrame by joinning the Series by column

Change the name of the columns to bedrooms, bathrooms, price_sqr_meter

Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

Oops, it seems it is going only until index 99. Is it true ?

Reindex the DataFrame so it goes from 0 to 299

Download the data from the following URL

https://drive.google.com/file/d/1skwO4O-iRqns3i2EsGe6LQcxwQX53vTi/view?usp=sharing


Read and assign it to a variable called baby_names.

See the first 10 entries

Delete the column 'Unnamed: 0' and 'Id'

Is there more male or female names in the dataset ?

Answer:
1. F    558846
2. M    457549

Group the dataset by name and assign to names

How many different names exist in the dataset ?

Answer: 17632

What is the name with most occurrences ?

Answer: 'Jacob'

How many different names have the least occurrences ?

Answer: 2578

What is the median name occurrence ?

What is the standard deviation of names ?

Answer: 11006.069467891111

Get a summary with the mean, min, max, std and quartiles.