<a href="https://colab.research.google.com/github/tihanieddey/Python-Exercises/blob/main/Python108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Salaries Exercise

Click [here](https://drive.google.com/file/d/1sfy-5ce3cEtvCvUlOXB_pSwSGjnJ0cVV/view?usp=sharing) to download the file

**Import pandas as pd**

**Read Salaries.csv as a dataframe called sal**

**Check the head of the DataFrame**

**Use the .info() method to find out how many entries there are**

**Find the average BasePay ?**

Answer: 66325.44884050643

**Find is the highest amount of OvertimePay in the dataset ?**

Answer: 245131.88

**Find the job title of  JOSEPH DRISCOLL ?**

Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll)

Answer: CAPTAIN, FIRE SUPPRESSION

**How much does JOSEPH DRISCOLL make (including benefits)?**

Answer: 270324.91

**What is the name of highest paid person (including benefits) ?**

Note: Print the entire row of data as follows

Answer:



```
1 | NATHANIEL FORD | GENERAL MANAGER - METROPOLITAN TRANSIT...
```

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid? If yes put it as a comment inside the given code block**

Note: Print the entire row of data as follows

Answer:

```
148654 |	Joe Lopez	| Counselor, Log Cabin Ranch...
```

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

Answer:

```
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64
```

**How many unique job titles are there ?**

Answer: 2159

**What are the top 5 most common jobs ?**

Answer:

```
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64
```

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

Answer: 202

**How many people have the word Chief in their job title ?**

Note: This is pretty tricky

Answer: 477

**Is there a correlation between length of the Job Title string and Salary ?**

# Ecommerce Purchases Exercise

Click [here](https://drive.google.com/file/d/1B27xrTYJQEzTwnWNn872yOZUljJ-WlFT/view?usp=sharing) to download the file

**Import pandas**

**Read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom**

**Check the head of the DataFrame.**

**How many rows and columns are there ?**

Answer

```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB
```

**What is the average Purchase Price ?**

Answer: 50.34730200000025

**What were the highest purchase prices ?**

Answer: 99.989999999999995

**What were the lowest purchase prices ?**

Answer: 0

**How many people have English 'en' as their Language of choice on the website ?**

**How many people have the job title of "Lawyer" ?**

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

Answer:

```
PM    5068
AM    4932
Name: AM or PM, dtype: int64
```

**What are the 5 most common Job Titles ?**

Answer:

```
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64
```

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction ?**

Answer:
```
513    75.1
Name: Purchase Price, dtype: float64
```

**What is the email of the person with the following Credit Card Number: 4926535242672853**

Answer:

```
1234    bondellen@williams-garza.com
Name: Email, dtype: object
```

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

Answer

```
Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64
```

**Hard: How many people have a credit card that expires in 2025 ?**

Answer: 1033

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

Answer:

```
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64
```