<a href="https://colab.research.google.com/github/tihanieddey/Python-Exercises/blob/main/Python102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This exercise is to test your knowledge in
1. Input/Output functions
2. Decision Making

**Exercise 1: Check Even or Odd**

Write a Python program that prompts for an integer. The program must check whether the number is even or odd and print the result.

In [1]:
num = int(input("Enter a number: "))

if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: 10
The number is even

**Exercise 2: Senior Citizen Benefits**

Write a Python program that determines if a person is eligible for senior citizen benefits. The program should take the person's age as input and print "Eligible" if the age is 60 or above, otherwise print "Not Eligible".

In [4]:
age = int(input("Please enter your age: "))

if age >= 60:
  print("You are eligible for senior citizen benefits!")
else:
  print("Sorry, you are below the required age for the eligibility of senior citizen benefits.")

Please enter your age: 26
Sorry, you are below the required age for the eligibility of senior citizen benefits.

**Exercise 3: Largest of Three Numbers**

Write a Python program that takes three numbers as input and prints the largest of the three.

In [7]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 > num2 & num1 > num3:
  print(num1, "is the largest number")
elif num2 > num1 & num2 > num3:
  print(num2, "is the largest number")
else:
  print(num3, "is the largest number")

Enter first number: 2
Enter second number: 3
Enter third number: 1
3 is the largest number

**Exercise 4: Grade Evaluation**

Write a Python program that takes a score (between 0 and 100) as input and prints the corresponding grade based on the following criteria:

1. A for scores 90 and above
2. B for scores 80-89
3. C for scores 70-79
4. D for scores 60-69
5. F for scores below 60

In [12]:
score = int(input("Please enter your score (0 - 100): "))

if score >= 90:
  print("Your grade: A")
elif score >= 80:
  print("Your grade: B")
elif score >= 70:
  print("Your grade: C")
elif score >= 60:
  print("Your grade: D")
else:
  print("Your grade: F")

Please enter your score (0 - 100): 59
Your grade: F

**Exercise 5: Movie Ticket Pricing**

Write a Python program that determines the price of a movie ticket based on the customer's age:

1.  Age < 5: Free
2.  Age 5-12: RM5
3.  Age 13-60: RM10
4.  Age > 60: RM7

In [16]:
age = int(input("Please enter your age: "))

if age > 60:
  print("Price: RM7")
elif age > 12:
  print("Price: RM10")
elif age > 4:
  print("Price: RM5")
else:
  print("Free")

Please enter your age: 61
Price: RM7

**Exercise 6: Shop discount calculator**

Write a Python program that calculates the discount on a purchase based on the amount spent:

1.  Spend < RM100: No discount
2.  Spend RM100-RM500: 10% discount
3.  Spend > RM500: 20% discount

Print the final amount to be paid after applying the discount.

In [20]:
spend = float(input("Total amount spent (RM): "))

if spend > 500:
  disc = 0.2 * spend
elif spend >= 100:
  disc = 0.1 * spend
else:
  disc = 0

amount = spend - disc

print("Total amount after discount: RM", amount)

Total amount spent (RM): 101
Total amount after discount: RM 90.9

**Exercise 7: Temperature Alert**

Write a Python program that takes the current temperature as input and prints an alert message based on the temperature:

1. Below 0°C: "Freezing!"
2. 0°C to 10°C: "Very Cold!"
3. 11°C to 20°C: "Cold"
4. 21°C to 30°C: "Warm"
5. Above 30°C: "Hot!"

In [21]:
temp = float(input("Enter temperature (Celcius): "))

if temp > 30:
  print("Hot!")
elif temp > 20:
  print("Warm")
elif temp > 10:
  print("Cold")
elif temp > 0:
  print("Very Cold!")
else:
  print("Freezing!")

Enter temperature (Celcius): -1
Freezing!

**Exercise 8: Day of the week**

Write a Python program that takes an integer (1 to 7) as input and prints the corresponding day of the week. Assume 1 corresponds to Monday and 7 corresponds to Sunday. If the input is not in the range of 1 to 7, print "Invalid day".

In [23]:
num = int(input("Enter a number: "))

if num == 1:
  print("Monday")
elif num == 2:
  print("Tuesday")
elif num == 3:
  print("Wednesday")
elif num == 4:
  print("Thursday")
elif num == 5:
  print("Friday")
elif num == 6:
  print("Saturday")
elif num == 7:
  print("Sunday")
else:
  print("Invalid day")

Enter a number: 8
Invalid day

**Exercise 9: Time of Day Greeting**

Write a Python program that takes the current hour (in 24-hour format) as input and prints an appropriate greeting:

1. 0 ≤ hour < 12: "Good Morning"
2. 12 ≤ hour < 18: "Good Afternoon"
3. 18 ≤ hour < 24: "Good Evening"
4. If the hour is not valid, print "Invalid hour"

In [26]:
hour = int(input("Enter current hour (24-hour): "))

if hour >= 0 and hour < 12:
  print("Good Morning")
elif hour >= 12 and hour < 18:
  print("Good Afternoon")
elif hour >= 18 and hour < 24:
  print("Good Evening")
else:
  print("Invalid hour")

Enter current hour (24-hour): 12
Good Afternoon

**Exercise 10: Check Leap Year**

Write a Python program that takes a year as input and checks whether it is a leap year.
1. If the year is divisible by four, it's a leap year.
2. But if the year can be divided by 100 as well as four, it's not a leap year.
3. However, if the year is divisible by 400, it is a leap year.

In [28]:
year = int(input("Please enter a year:"))

if year % 400 == 0:
  print("Leap year")
elif year % 100 == 0:
  print("Not a leap year")
elif year % 4 == 0:
  print("Leap year")
else:
  print("Not a leap year")

Please enter a year:2000
Leap year

**Exercise 11: Number Comparison**

Write a program that takes three numbers as input. Store the input into three variables and print the largest one. Create the if condition in a <b>single line</b>.

In [30]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

lnum = num1 if num1 > num2 and num1 > num3 else num2 if num2 > num1 and num2 > num3 \
      else num3

print("Largest number is", lnum)

Enter first number: 1
Enter second number: 2
Enter third number: 3
Largest number is 3

**Exercise 12: Check Vowel or Consonant**

Write a Python program that takes a single character as input and checks whether it is a vowel or consonant. Use the **in** operator.

(Hint: Check whether the given character is inside the string of characters.)

In [37]:
char = input("Please enter a single character: ")

if char in "aeiouAEIOU":
  print("Vowel")
elif char in "bcdfghjklmnpqrstvwxyzBCDGHJKLMNPQRSTVWXYZ":
  print("Consonant")
else:
  print("Invalid")

Please enter a single character: '
Invalid

**Exercise 13: BMI Calculator**

Write a program that calculates the Body Mass Index (BMI) and categorizes the result into 4 different weight statuses. The formula for BMI is weight / height^2, where weight is in kilograms and height is in meters.

*Categories:*

1. Underweight: BMI < 18.5
2. Normal weight: 18.5 <= BMI < 24.9
3. Overweight: 25 <= BMI < 29.9
4. Obesity: BMI >= 30

In [39]:
w = float(input("Enter weight: "))
h = float(input("Enter height: "))

bmi = w / (h ** 2)

if bmi  >= 30:
  print("Obesity")
elif bmi >= 25:
  print("Overweight")
elif bmi >= 18.5:
  print("Normal weight")
else:
  print("Underweight")

Enter weight: 55
Enter height: 1.52
Normal weight

**Exercise 14: Triangle Type Checker**

Write a program that takes the lengths of three sides of a triangle and determines whether the triangle is equilateral, isosceles, or scalene.

1. Equilateral: All three sides are equal.
2. Isosceles: Exactly two sides are equal.
3. Scalene: All three sides are different.

In [42]:
a = int(input("Enter side a: "))
b = int(input("Enter side b: "))
c = int(input("Enter side c: "))

if a == b and a == c and b == c:
  print("Equilateral")
elif a == b or a == c or b == c:
  print("Isosceles")
else:
  print("Scalene")

Enter side a: 1
Enter side b: 1
Enter side c: 1
Equilateral

**Exercise 15: Quadratic Equation Roots**

Write a python program that solves a quadratic equation of the form ![image.png]()

The program should take the coefficients a, b and c as input and print the roots of the equation. Use the discriminant to determine the nature of the roots:

If the discriminant   ![image.png]() > 0 print "2 Distinct real roots"

If the discriminant    ![image.png]() == 0 print "One real root"

If the discriminant    ![image.png]()  < 0  print "No Real Roots"

In [45]:
a = int(input("Enter first coefficient: "))
b = int(input("Enter second coefficient: "))
c = int(input("Enter thirs coefficient: "))

r = (b ** 2) - (4 * a * c)

if r > 0:
  print("2 distinct real roots")
elif r == 0:
  print("One real root")
else:
  print("No real root")

Enter first coefficient: 2
Enter second coefficient: -4
Enter thirs coefficient: 1
2 distinct real roots

**Exercise 16: Electricity Bill Calculator**

Write a Python program that calculates the electricity bill based on the number of units consumed. Use the following tariff:

1. For the first 100 units: RM0.50 per unit
2. For the next 100 units: RM0.75 per unit
3. For the next 100 units: RM1.20 per unit
4. For units above 300: RM1.50 per unit

The program should take the total units consumed as input and print the total bill.

In [47]:
units = int(input("Please enter number of units consumed:"))

if units <= 100:
  total = units * 0.5
elif units <= 200:
  new_unit = (units - 100) * 0.75
  total = (100 * 0.5) + new_unit
elif units <= 300:
  new_unit = (units - 200) * 1.20
  total = (100 * 0.5) + (100 * 0.75) + new_unit
else:
  new_unit = (units - 300) * 1.50
  total = (100 * 0.5) + (100 * 0.75) + (100 * 1.20) + new_unit

print("Total bill: RM", total)

Please enter number of units consumed:250
Total bill: RM 185.0

**Exercise 17: Simple Tax Calculator**

Write a Python program to calculate the income tax based on the following tax rules:
<ol>
<li>If income is RM10,000 or less, the tax rate is 0% (no tax).</li>
<li>If income is between RM10,001 and RM50,000, the tax rate is 10%.</li>
<li>If income is above RM50,000, the tax rate is 20%.</li>
</ol>

Your program should:<br/>
Take the income as an input from the user.<br/>
Calculate the tax based on the above conditions.<br/>
Print the tax amount as well as the income after tax deduction.

In [48]:
income = int(input("Please state your income: "))

if income > 50000:
  tax = 0.2 * income
  new_income = income - tax
elif income > 10000:
  tax = 0.1 * income
  new_income = income - tax
else:
  tax = 0
  new_income = income - tax

print("Tax amount: ", tax)
print("Income after tax deduction: ", new_income)

Please state your income: 2000
Tax amount:  0
Income after tax deduction:  2000

**Exercise 18: ATM Withdrawal**

Write a program that simulates an ATM withdrawal.

The user enters the withdrawal amount and the program checks if the amount is a multiple of 10. If it is, the program prints the number of each denomination (50, 20, 10) required to dispense the amount. If not, it prints an error message.

For example if the amount is 230 then it must print "4 50 dollar bills, 1 20 dollar bills, 1 10 dollar bills

In [50]:
amount = int(input("Enter withdrawal amount: "))

if amount % 10 == 0:
  fifty = amount // 50
  twenty = (amount - (fifty * 50)) // 20
  ten = (amount - (fifty * 50) - (twenty * 20)) // 10
  print(fifty, "50 dollar bills", twenty, "20 dollar bills", ten, "10 dollar bills")
else:
  print("Error")

Enter withdrawal amount: 230
4 50 dollar bills 1 20 dollar bills 1 10 dollar bills

**Exercise 19: Adam Number**

Write a Python program to check whether 13 is an Adam number.

An Adam number is a number for which the square of the number and the square of its reverse are themselves reverses of each other. In other words, if you take a number, reverse it, square both the original number and the reversed number, and the results are still reverse of each other, then the original number is called an Adam number. Make sure you reverse the number using modulus (%) and integer division operator (//).

For example, 13 is an Adam because 13² = 169 and 31² = 961

In [52]:
def reverse_number(n):
  rev = 0
  while n > 0:
    rev = rev * 10 + (n % 10)
    n //= 10
  return rev

num = 13
rev_num = reverse_number(num)

n2 = n ** 2
rev_n2 = rev_num ** 2

rev_rev_n2 = reverse_number(rev_n2)

if n2 == rev_rev_n2:
  print(num, "is an Adam number")
else:
  print(num, "is not an Adam number")

13 is an Adam number

**Exercise 20: Armstrong Number**

Write a Python program to check whether 153 is an Armstrong number.

An Armstrong number (also known as a Narcissistic number or a Pluperfect number) is a number that is equal to the sum of its own digits each raised to the power of the number of digits.

For example, 153 is an Armstrong number because 1 ** 3 + 5 ** 3 + 3 ** 3 = 153

In [2]:
def count_digit(num):
  count = 0
  while num > 0:
    num //= 10
    count += 1
  return count

temp = 153
num = 153
pow = count_digit(num)

one_hund = (num % 10) ** pow
num //= 10
one_ten = (num % 10) ** pow
num //= 10
one = (num % 10) ** pow
num //= 10

new_num = one_hund + one_ten + one

if temp == new_num:
  print(temp, "is an Armstrong number")
else:
  print(temp, "is not an Armstrong number")

153 is an Armstrong number

**Exercise 21: Find Position**

Find the Position of the First Occurrence of a Digit. Find the position of the first occurrence of a 8 in 97865. Positions are zero-based. Since it is zero-based, 8 is in position 2

In [6]:
num = 97865
count = 0

for i in str(num):
  if i == '8':
    break
  count += 1

print(count)

2

**Exercise 22: Calculate the number of bits**

Calculate how many bits are needed to represent 35 in binary.

![image.png]()

Note: To find log use the math library

> import math<br/>
> number = 10<br/>
> natural_log = math.log(number)<br/>



> import math<br/>
> number = 100<br/>
> log_base_10 = math.log10(number)<br/>

In [10]:
import math

num = 35
n = 2

num_of_bits = int(math.log2(num)) + 1

print(num_of_bits)

6

**Exercise 23: Distance between Two Points**

Write a program to calculate the distance between two points in a 2D plane given their coordinates (x1, y1) and (x2, y2 ). Use the formula:

![image.png]()

Note: To find square root use the math library

> import math<br/>
> number = 25<br/>
> square_root = math.sqrt(number)<br/>

In [14]:
import math

x1 = float(input("Enter x1 value: "))
x2 = float(input("Enter x2 value: "))
y1 = float(input("Enter y1 value: "))
y2 = float(input("Enter y2 value: "))

x = (x2 - x1) ** 2
y = (y2 - y1) ** 2

dist = math.sqrt(x + y)
print(dist)

Enter x1 value: 1
Enter x2 value: 2
Enter y1 value: 3
Enter y2 value: 4
1.4142135623730951

**Exercise 24: Count Vowels**

Write a program that counts the number of vowels in the string "Hello, World!". The vowels are 'a', 'e', 'i', 'o', 'u' (case-insensitive).

In [16]:
str = "Hello, World!"
count = 0

for i in str:
  if i in "aeiouAEIOU":
    count += 1

print(count)

3

**Exercise 25: Calculate the Sum of Digits**

Write a program that calculates the sum of the digits in the number 4826 without using loops. The sum should be 4 + 8 + 2 + 6.

In [36]:
num = 4826

dig1 = num // 1000
dig2 = (num // 100) % 10
dig3 = (num // 10) % 10
dig4 = num % 10

print(dig1 + dig2 + dig3 + dig4)

20